<?xml version="1.0"?>
<!--
/**
 * This file is part of GulshanDev_LogRotate Module
 *
 * @author Gulshan Kumar <gulshan.4dream@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <log_rotate>
                <active>0</active>
                <keep_number>30</keep_number>
                <keep_size>5</keep_size>
                <cron_exp>0 1 * * *</cron_exp>
            </log_rotate>
        </system>
    </default>
</config>
